/* .LoginCard{
    display:flex;
    border-radius: 25px;
    border-color:teal;
    height: 180px;
    width: 100px;
    padding-left: 40px;
}    */

/* .UserInfo{
    display:flex;
    border-radius: 25px;
    border-color:teal;
    height: 300px;
    width: 600px;
    padding-top: 40px;
    padding-left: 145px;
} */